<div class="speak-wrapper">
  <div class="input-text-wrapper">
    <div class="input-text">
      <div *ngIf="practicePin != 'true'" class="pin" [class.active]="this.savedState" (click)="pinSentences()"></div>
      <div>
        <span>{{ currentSentence?.content }}</span>
      </div>
    </div>

    <div class="button" (click)="reset()"></div>
  </div>
  <div class="scroll-block">
    <div class="audio-wrapper">
      <div class="audio-item ponddy-ai">
        <div class="logo">
          <img src="assets/images/icons/ai.svg" alt="ai" />
        </div>
        <div class="name">Ponddy AI</div>
        <div class="button-wrapper" [class.btn-cursor]="!this.playState">
          <app-button [isFilled]="true" [hidden]="isAiPlayback" (click)="playAi()" [class.btn-disable]="!this.playState">
            <div class="logo-with-label">
              <img src="assets/images/icons/play.svg" alt="play" />
              <ng-container *ngFor="let language of languages">
                <span *ngIf="language.id === 1 && language.lang === nowLanguage">{{ language.text }}</span>
              </ng-container>
              <img *ngIf="!this.playState" class="loading" src="assets/images/loading.gif" alt="loading" />
            </div>
          </app-button>

          <app-button [isFilled]="true" [isStop]="true" [hidden]="!isAiPlayback" (click)="stopAi()">
            <div class="logo-with-label">
              <img src="assets/images/icons/stop.svg" alt="stop" />
              <ng-container *ngFor="let language of languages">
                <span *ngIf="language.id === 3 && language.lang === nowLanguage">{{ language.text }}</span>
              </ng-container>
            </div>
          </app-button>

        </div>
        <div class="play-rate">
          <img class="play-rate__icon" src="assets/images/icons/icon-fast-foward.svg">
          <input id="rate" type="range" min="0.7" max="1.3" step="0.1" value="1" (change)="playRate()" />
          <span class="play-rate__text">x{{ nowRate }}</span>
        </div>
        <div *ngFor="let language of languages" class="hint-text">
          <span *ngIf="language.id === 4 && language.lang === nowLanguage">{{ language.text }}</span>
        </div>
      </div>

      <div class="audio-item user">
        <div class="logo">
          <img src="assets/images/icons/human.svg" alt="human" />
        </div>
        <div class="name">You</div>
        <div class="button-wrapper">
          <app-button [isFilled]="true" [hidden]="isRecording" (click)="record()">
            <div class="logo-with-label">
              <img src="assets/images/icons/record.svg" alt="record" />
              <ng-container *ngFor="let language of languages" class="hint-text">
                <span *ngIf="language.id === 2 && language.lang === nowLanguage">{{ language.text }}</span>
              </ng-container>
            </div>
          </app-button>

          <app-button [isFilled]="true" [isStop]="true" [hidden]="!isRecording" (click)="stopRecording()">
            <div class="logo-with-label">
              <img src="assets/images/icons/stop.svg" alt="stop" />
              <ng-container *ngFor="let language of languages">
                <span *ngIf="language.id === 3 && language.lang === nowLanguage">{{ language.text }}</span>
              </ng-container>
            </div>
          </app-button>

          <div class="play-back" *ngIf="userAudio !== null">
            <img src="assets/images/icons/play-gray.svg" alt="playback" [hidden]="isUserPlayback" (click)="playUser()" />
            <img src="assets/images/icons/stop-gray.svg" alt="stop" [hidden]="!isUserPlayback" (click)="stopUser()" />
          </div>
        </div>
        <div class="high-score-text" (click)="this.openDialog('openVoice')">
          <div>
            <img src="assets/images/icons/icon-radio.svg">
          </div>
          <div>
            <ng-container *ngFor="let language of languages">
              <span *ngIf="language.id === 5 && language.lang === nowLanguage">{{ language.text }}</span>
            </ng-container>
          </div>
        </div>
        <br>
        <div class="high-score-text" (click)="openDialog('highScore')">
          <div>
            <img src="assets/images/icons/icon-high-score.svg">
          </div>
          <div>
            <ng-container *ngFor="let language of languages">
              <span *ngIf="language.id === 6 && language.lang === nowLanguage">{{ language.text }}</span>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="submit-wrapper btn-b">
    <app-button [class.disable]="userAudio === null" [isDisabled]="userAudio === null" [isFilled]="true" (click)="score()">
      <ng-container *ngFor="let language of languages">
        <span *ngIf="language.id === 7 && language.lang === nowLanguage">{{ language.text }}</span>
      </ng-container>
    </app-button>
  </div>
</div>
