<h1 mat-dialog-title>Sign up for Ponddy's free voice scoring analytics!</h1>
<mat-dialog-content>
  <p> Get your voice diagnosis for free! Just sign up for a Ponddy account and you’ll get:</p>

  <p>- Word-by-word pronunciation analysis and scoring</p>
  <p>- Fluency evaluation that shows how close you sound like a native speaker</p>
  <p>- Customized practices to overcome your pronunciation weakness</p>



</mat-dialog-content>
<div mat-dialog-actions >
  <a mat-button class="btn_blue-secondary"
     [href]="url">Log in</a>
  <a mat-button class="btn_blue-primary"
     [href]="url">Sign up</a>
</div>
