/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "./assets/css/ponddy-guidline.min.css";
@import "./assets/css/Ponddy-NotoRubik0311.css";

html {
  display: flex;
  flex-direction: column;

  body {
    margin: 0;
    padding: 0;
    background: rgba(45, 57, 66, 0.02);
    font-family: Ponddy-NotoRubik;
    @media screen and (max-width: 768px) {
      background: white;
      // overflow-x: hidden;
      // overflow: hidden;
    }

    app-root {
      position: relative;

      [hidden] {
        display: none !important;
      }

      .black {
        color: #2D3942 !important;
      }

      .blue {
        color: #3B9FBE !important;
      }

      .red {
        color: #D64059 !important;
      }

      .orange {
        color: #F3A024 !important;
      }

      .grey {
        color: #969CA0 !important;
      }
    }
  }
}
